<nav class="navbar is-fixed-top">
  <div class="navbar-brand">
    <a class="navbar-item" routerLink="/">
      N4B
    </a>

    <a role="button" class="navbar-burger burger" [class.is-active]="isBurgerActive" (click)="toogleBurger()">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div class="navbar-menu" [class.is-active]="isBurgerActive">
    <div class="navbar-start">
    </div>
    <div class="navbar-end">

    </div>
  </div>
</nav>