<nav class="navbar is-fixed-top"
  [class.is-transparent] = "isTransparent">
  <div class="navbar-brand">
    <a class="navbar-item" routerLink="/">
      N4B
    </a>

    <a role="button" class="navbar-burger burger" [class.is-active]="isBurgerActive"
      (click)="toogleBurger()">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div class="navbar-menu"
    [class.is-active]="isBurgerActive">
    <div class="navbar-start">
      <a class="navbar-item" routerLink="/">
        Home
      </a>
      <a class="navbar-item" routerLink="/about">
        About
      </a>
    </div>
  </div>
</nav>