<nav class="navbar is-fixed-top"
  [class.is-transparent] = "isTransparent">
  <div [class.container]="!isWide">
      <div class="navbar-brand">
          <a class="navbar-item" routerLink="/">
            N4B
          </a>
      
          <a role="button" class="navbar-burger burger" [class.is-active]="isBurgerActive"
            (click)="toogleBurger()">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
      
        <div class="navbar-menu"
          [class.is-active]="isBurgerActive">
          <div class="navbar-start">
            <a class="navbar-item" routerLink="/">
              Home
            </a>
            <a class="navbar-item" routerLink="/about">
              About
            </a>
            <ng-container *ngIf="loggedUser">
              <a class="navbar-item" routerLink="/play">
                Play
              </a>
            </ng-container>
          </div>
          <div class="navbar-end">
          <ng-container *ngIf="loggedUser;else loggedOut">
              <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                  {{loggedUser.username}}
                </a>
              
                <div class="navbar-dropdown">
                   <a class="navbar-item" routerLink="/profil">Profil</a>
                </div>
              </div>
            </ng-container>
            <ng-template #loggedOut>
              <div class="navbar-item">
                  <a routerLink="/signin">
                    Sign in
                  </a>
              </div>
            </ng-template>
          </div>
        </div>
  </div>
</nav>