<section class="section">
  <div class="columns">
    <div class="column is-6-fullhd is-6-desktop is-6-tablet is-offset-3-fullhd is-offset-3-desktop is-offset-3-tablet">
      <h1 class="title">Sign in</h1>
      <form>
        <div class="field">
          <div class="control">
            <input [(ngModel)]="data.id" class="input" type="text" placeholder="ID (email or username)" />
          </div>
        </div>
        <div class="field">
          <div class="control">
            <input [(ngModel)]="data.password" class="input" type="password" placeholder="password" />
          </div>
        </div>
        <button class="button is-primary" type="submit">Sign in</button>
      </form>
    </div>
  </div>
</section>