<section class="hero is-fullheight is-primary is-bold">
  <div class="hero-body has-text-centered">
    <div class="container">
      <h1 class="title">
        Need 4 Blitz
      </h1>
      <h2 class="subtitle">
        An turn based online strategy game
      </h2>
      <a>Play now</a>
    </div>
  </div>
  <div class="hero-foot">
    <nav class="tabs is-boxed is-fullwidth">
      <div class="container">
        <ul>
          <li>
            <a routerLink="/about">About</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</section>